<p>Welcome, {{ name }}</p>

<strong>Property Binding</strong>
<div>
    <input type="text" name="username" id="username" [placeholder]="placeholder">
    <input type="text" name="username" id="username" placeholder="{{ placeholder }}">
    <input type="text" [disabled]="isDisabled">
</div>
<br/>
<strong>Event Binding</strong>
<div>
    <button (click)="showMessage()">Click Here</button>
    <p>Name: <strong>{{ message }}</strong></p>
</div>

<strong>Class Binding</strong>
<div>
    <p class="font_bold" [class.success]="isDisabled">Lorem ipsum dolor sit amet.</p>
</div>